<div class="honors">
  {% if site.honors != blank %}
    {% assign honors_size = site.honors | size %}
    <div class="table-responsive"
      {% if include.limit and site.announcements.scrollable and honors_size > 3 %}
        style="max-height: 60vw"
      {% endif %}
    >
      <table class="table table-sm table-borderless">
        {% assign honors = site.honors | reverse %}
        {% if include.limit and site.announcements.limit %}
          {% assign honors_limit = site.announcements.limit %}
        {% else %}
          {% assign honors_limit = honors_size %}
        {% endif %}
        {% for item in honors limit: honors_limit %}
          <tr>
            <th scope="row" style="width: 20%">{{ item.date | date: '%b %Y' }}</th>
            <td>
              <strong>{{ item.title }}</strong>  
              <p><em>{{ item.institution }}</em></p>
              <p>{{ item.content | remove: '<p>' | remove: '</p>' }}</p>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No honors listed so far...</p>
  {% endif %}
</div>
